# Ignore everything
*

# But not these files...
!.gitignore
!run.sh
!/static/*
!/templates/*
!/pics/*
!README.md
!*.git*

# Even if they are in subdirectories
!*/

# Ignore all files and directories that match these patterns
*.iso
*.vdi
*.vbox
*.vbox-prev
*.log
*.tmp
finished_install_info.txt
install_info.txt
/tmp/
/temp/
/.virtualbox/
/seed.iso
