<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="Openbox 3">
  <item label="Terminal">
    <action name="Execute"><command>xterm</command></action>
  </item>
  <item label="Microsoft Edge">
    <action name="Execute"><command>microsoft-edge-stable</command></action>
  </item>
  <item label="Visual Studio Code">
    <action name="Execute"><command>code</command></action>
  </item>
  <item label="Intune Portal">
    <action name="Execute"><command>intune-portal</command></action>
  </item>
  <item label="1password">
    <action name="Execute"><command>1password</command></action>
  </item>
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>
</openbox_menu>
