[Unit]
Description=x11vnc service for desktop session
After=display-manager.service

[Service]
Type=simple
User=${USERN}
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/x11vnc -display :1 -auth /run/user/1000/gdm/Xauthority -forever -loop -noxdamage -repeat -rfbauth /etc/x11vnc.passwd -rfbport 5900 -shared -o /var/log/x11vnc.log
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
